* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 2em auto 0;
}


#wrapper {
  position: relative;
  width: 490px;
  margin: auto;
}

#welcome {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  color: azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#instruction {
  position: relative;
  text-align: center;
  margin: auto;
}

#scoreboard {
  z-index: 10000;
  position: absolute;
  top: 5%;
  right: 3%;
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#labelScore {
  z-index: 10000;
  position: absolute;
  top: 5%;
  right: 23%;
  color: azure;
}